<div class="w-full p-10">
  <input type="hidden" id="titles">
  <div class="flex items-center justify-between pb-3 mb-3 border-bt-1">
    <h2 class="text-base text-pink-600 md:text-lg">다이어리 쓰기</h2>
    <button class="bg-pink-600 px-4 rounded py-2 text-sm md:text-base text-center text-white" id="btn_write_close">닫기</button>
  </div>
  <div class="w-full items-center flex mb-3">
    <label class="w-1/4 text-sm md:text-base" for="title">제목</label>
    <input class="w-3/4 p-2 shadow-md rounded border-1" type="text" id="title">
  </div>
  <textarea class="w-full border p-2" placeholder="내용을 작성하세요." id="content" cols="30" rows="10"></textarea>
  <div class="flex justify-end">
    <button class="bg-pink-600 px-4 rounded py-2 text-sm md:text-base text-center text-white" id="btn_write">작성하기</button>
  </div>
</div>