<div class="w-full">
  <div class="md:flex md:items:center mb-20 md:mb-32">
    <img class="block w-full md:w-1/2" src="../images/main_banner.png" alt="메인이미지">
    <div class="w-full md:w-1/2 flex items-center p-10 md:p-0 bg-pink-600">
      <div class="px-0 md:px-10">
        <h2 class="text-white font-bold text-lg tracking-wide md:text-3xl mb-2">나만의 웹다이어리</h2>
        <p class="text-sm  md:text-lg mb-5 text-white">
          소중한 나의 일상을 기록하고<br>
          언제든 꺼내보면서<br>
          추억해봐요
        </p>
        <button class="text-sm md:text-base py-2 px-4 bg-white rounded text-pink-600 font-bold" id="btn_start">다이어리 시작하기</button>
      </div>
    </div>
  </div>

  <div class="md:container mx-auto px-10 md:px-0 mb-20 md:mb-32">
    <h2 class="w-full text-center mb-10 text-pink-600 font-bold text-lg md:text-3xl">다이어리 시작하기</h2>
    <div class="block md:flex md:items-center md:gap-5">
      <div class="shadow-pink-600 shadow-md p-3 rounded w-full mb-3 md:mb-0" data-aos="zoom-in">
        <h3 class="text-pink-600 text-center font-bold text-base md:text-lg mb-2">STEP 01</h3>
        <img class="block mb-2 mx-auto" width="80" height="80" src="https://img.icons8.com/dotty/80/power-off-button.png" alt="power-off-button"/>
        <p class="text-sm text-center">
          <span class="text-pink-600">로그인</span>이나<br> 
          <span class="text-pink-600">다이어리시작하기</span> 버튼을<br> 
          클릭하여 계정을 만들고<br> 
          로그인을 해요
        </p>
      </div>
      <div class="shadow-pink-600 shadow-md p-3 w-full rounded mb-3 md:mb-0" data-aos="zoom-in" data-aos-delay="300">
        <h3 class="text-pink-600 text-center font-bold text-base md:text-lg mb-2">STEP 02</h3>
        <img class="block mb-2 mx-auto" width="80" height="80" src="https://img.icons8.com/dotty/80/diary.png" alt="diary"/>
        <p class="text-sm text-center">
          나의 다이어리 페이지에서<br>
          <span class="text-pink-600">일기쓰기 버튼</span>을<br>
          클릭해서 자유롭게<br> 
          내 추억을 남겨요
        </p>
      </div>
      <div class="shadow-pink-600 shadow-md p-3 w-full rounded" data-aos="zoom-in" data-aos-delay="600">
        <h3 class="text-pink-600 text-center font-bold text-base md:text-lg mb-2">STEP 03</h3>
        <img class="block mb-2 mx-auto" width="80" height="80" src="https://img.icons8.com/dotty/80/calendar.png" alt="calendar"/>
        <p class="text-sm text-center">
          내가 작성한 날짜를 기준으로<br>
          <span class="text-pink-600">월별 카테고리</span>가 생성되어<br>
          월별로 내 일기를<br>
          관리해요
        </p>
      </div>
    </div>
  </div>
</div>

<script>
   AOS.init();
</script>