<div class="md:container mx-auto px-10 md:px-0 mb-20 md:mb-32 h-screen overflow-y-scroll">
  <h1 class="w-full text-center py-10 mb-15 text-pink-600 font-bold text-lg tracking-wide md:text-3xl" id="main_name">관리자님 다이어리</h1>
  <div class="w-full flex items-center gap-5 mb-16">
    <button class="text-sm md:text-base py-2 px-4 bg-pink-600 rounded text-white font-bold" id="btn_diary_write">다이어리 쓰기</button>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4" id="diary_div">
    
  </div>
</div>