<div class="w-full h-screen relative">
  <div class="absolute position-center w-5/6 md:w-1/3 p-10 shadow-pink-600 shadow-md">
    <h1 class="text-pink-600 font-bold text-center text-lg tracking-wide md:text-3xl mb-2">Sign In</h1>
    <div class="w-full items-center flex mb-3">
      <label class="w-1/4 text-sm md:text-base" for="user_name">이름</label>
      <input class="w-3/4 p-2 shadow-md rounded border-1" type="text" id="user_name">
    </div>
    <div class="w-full items-center flex mb-3">
      <label class="w-1/4 text-sm md:text-base" for="user_id">아이디</label>
      <input class="w-3/4 p-2 shadow-md rounded border-1" type="text" id="user_id">
    </div>
    <div class="w-full items-center flex mb-5">
      <label class="w-1/4 text-sm md:text-base" for="user_pw">비밀번호</label>
      <input class="w-3/4 p-2 shadow-md rounded border-1" type="password" id="user_pw">
    </div>
    <div class="w-full items-center flex mb-5">
      <label class="w-1/4 text-sm md:text-base" for="user_pw_chk">비밀번호 확인</label>
      <input class="w-3/4 p-2 shadow-md rounded border-1" type="password" id="user_pw_chk">
    </div>
    <div class="w-full p-3 overflow-y-scroll h-32 mb-5 bg-gray-300">
     개인정보 처리방침 내용
    </div>
    <label class="w-fit text-sm md:text-base flex items-center" for="user_agree_chk"><input type="checkbox" id="user_agree_chk">개인정보 처리방침 동의</label>

    <div class="w-full items-center flex gap-5">
      <button class="bg-pink-600 w-1/2 py-2 text-sm md:text-base text-center text-white" id="btn_signIn">회원가입</button>
      <button class="bg-gray-200 w-1/2 py-2 text-sm md:text-base text-center" id="btn_out">나가기</button>
    </div>
  </div>
</div>